-e .
Sphinx
coreapi
coreschema
coveralls
flake8
flake8-bugbear
flake8-comprehensions
flake8-django
gitchangelog
pre_commit
pdbpp
pytest
pytest-cov
simplejson
sphinx-autobuild
sphinx_rtd_theme
tox
tox-factor
tox-pyenv
